<div id="player_panel">
	Player Score: <span id="player_score"><%= @player.score %></span>
</div>
<div id="ans_result">
</div>
<div id="game_entry">
	<div id="game_entry_queston">
		<% if @para %>
		From <%= @para_book %><br>
		<%= @para %>
	</div>
	<div id="game_entry_mc">
		A) <%= link_to_remote @multipleChoice[0], :url => {:controller => :games, :action => :ans, :answer=>@multipleChoice[0], :id=>params[:id]} %>
		<br />
		B) <%= link_to_remote @multipleChoice[1], :url => {:controller => :games, :action => :ans, :answer=>@multipleChoice[1], :id=>params[:id]} %>
		<br />
		C) <%= link_to_remote @multipleChoice[2], :url => {:controller => :games, :action => :ans, :answer=>@multipleChoice[2], :id=>params[:id]} %>
		<br />
		D) <%= link_to_remote @multipleChoice[3], :url => {:controller => :games, :action => :ans, :answer=>@multipleChoice[3], :id=>params[:id]} %>
		<br />
	</div>
	<% else %>
	Sorry, no context was found.
	<% end %>
	<a href="<%= @disp %>"> Next Word >> </a>
</div>



