<% if @para %>
<%= @para %><p>
A) <%= @multipleChoice[0] %><br />
B) <%= @multipleChoice[1] %><br />
C) <%= @multipleChoice[2] %><br />
D) <%= @multipleChoice[3] %><br />
</p>
<% else %>
<p>
Sorry, no context was found.
</p>
<% end %>
<p>
<a href="<%= @disp %>"> Next Word >> </a>
</p>



