<%= @para if @para %><p>
A) <%= @multipleChoice[0] %><p>
B) <%= @multipleChoice[1] %><p>
C) <%= @multipleChoice[2] %><p>
D) <%= @multipleChoice[3] %><p>
<a href="<%= @disp %>"> Next Word >> </a>
