<% render :partial => "answer" %>
<% if @para %>
<%= @para %><p>
A) <%= link_to @multipleChoice[0], :controller => :games, :action => :ans, :answer=>@multipleChoice[0], :id=>params[:id] %><br />
B) <%= link_to @multipleChoice[1], :controller => :games, :action => :ans, :answer=>@multipleChoice[1], :id=>params[:id] %><br />
C) <%= link_to @multipleChoice[2], :controller => :games, :action => :ans, :answer=>@multipleChoice[2], :id=>params[:id] %><br />
D) <%= link_to @multipleChoice[3], :controller => :games, :action => :ans, :answer=>@multipleChoice[3], :id=>params[:id] %><br />
</p>
<% else %>
<p>
Sorry, no context was found.
</p>
<% end %>
<p>
<a href="<%= @disp %>"> Next Word >> </a>
</p>



